<template>
  <q-page class="column items-center justify-center">
    <h2 class="text-primary" align="center">
      Welcome to the Vue3 Quasar Auth0 Example
    </h2>

    <!--
      Show a login button if we are not authenticated. We also check the user object which will be empty until loaded
      to avoid the button appearing then disappearing
    -->
    <template v-if="!isAuthenticated && JSON.stringify(user) != '{}'">
      <pre>Not logged in, show a login button</pre>
      <q-btn size="lg" push color="secondary" label="Log in to continue" @click="login"/>
    </template>
    <template v-else>
      <pre>Logged in, show a customised message and a logout button</pre>
      <b>Hello {{ user.nickname }}!</b>
      <q-btn size="lg" push color="secondary" label="Logout" @click="logout"/>
    </template>

    <!-- Check the roles available from Auth0 -->
    <template v-if="isAuthenticated && JSON.stringify(user) != '{}' && !roles.includes('Permitted User')">
      <pre>Logged in, but missing a role, show a "contact us"</pre>

      <q-item class="q-pa-md q-ms-xl column justify-center items-center" tag="a" href="mailto: me@somewhere.com">
        <q-item-section class="q-pa-md">
          <q-item-label>Please contact to request access</q-item-label>
        </q-item-section>
        <q-item-section class="q-pa-xs">
          <q-item-label>me@somewhere.com</q-item-label>
        </q-item-section>
        <q-item-section avatar class="q-pa-xs">
          <q-icon name="mail"/>
        </q-item-section>
      </q-item>
    </template>
    <template v-else-if="roles.includes('Permitted User')">
      <pre>Logged in, and have 'Permitted User' role</pre>
    </template>

    <!-- For debugging, show what information we do have available -->
    <pre>Available user data</pre>
    <div class="q-ma-md " style="max-width: 80%; overflow: auto">
      <q-list bordered separator>
        <q-item>
          <q-item-label caption>user</q-item-label>
          <q-item-label>{{ user }}</q-item-label>
        </q-item>
        <q-item>
          <q-item-label caption>claims</q-item-label>
          <q-item-label>{{ idTokenClaims }}</q-item-label>
        </q-item>
        <q-item>
          <q-item-label caption>roles</q-item-label>
          <q-item-label>{{ roles }}</q-item-label>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {useAuth0} from '@auth0/auth0-vue';

export default defineComponent({
  name: 'IndexPage',
  components: {},
  setup() {
    console.log('-> setup')
    const {loginWithRedirect, logout, isAuthenticated, user, idTokenClaims} = useAuth0();
    console.log('<- setup')
    return {
      login: () => {
        console.log('-> login')
        void loginWithRedirect();
        console.log('<- login')
      },
      logout: () => {
        console.log('-> logout')
        void logout({returnTo: window.location.origin});
        console.log('<- logout')
      },
      isAuthenticated, user, idTokenClaims
    };
  },
  computed: {
    roles(): string[] {
      // When we aren't logged in, which can happen on re-loading the page and
      // and it isn't ready *yet*
      if (this.user == undefined) {
        return []
      }

      // Here is the custom property defined
      if (this.user.hasOwnProperty('https://somewhere.com/roles')) {
        return this.user['https://somewhere.com/roles']
      } else {
        return []
      }
    }
  },
});
</script>
